* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  line-height: 1;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  font-weight: 400;
  font-size: var(--font-size-xl);
  color: var(--color-font-primary);
  line-height: var(--line-height-text-xs);
  font-family: var(--font-manrope-regular);
  background: var(--color-background-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  color: var(--color-font-primary);
  line-height: var(--line-height-text-xs);
}

ul li {
  list-style: none;
}
