@font-face {
  font-family: Manrope-Regular;
  src: url('@/assets/fonts/Manrope-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Manrope-SemiBold;
  src: url('@/assets/fonts/Manrope-SemiBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Manrope-Medium;
  src: url('@/assets/fonts/Manrope-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter-Regular;
  src: url('@/assets/fonts/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-manrope-regular: 'Manrope-Regular', sans-serif;
  --font-manrope-medium: 'Manrope-Medium', sans-serif;
  --font-manrope-semibold: 'Manrope-SemiBold', sans-serif;
  --font-inter-regular: 'Inter-Regular', sans-serif;

  /* Font size */
  --font-size-4xs: 8px;
  --font-size-3xs: 10px;
  --font-size-2xs: 12px;
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-xm: 20px;
  --font-size-l: 22px;
  --font-size-xl: 24px;
  --font-size-2xl: 28px;
  --font-size-3xl: 32px;
  --font-size-4xl: 36px;
  --font-size-5xl: 40px;
  --font-size-6xl: 48px;
  --font-size-7xl: 64px;
  --font-size-8xl: 96px;

  /* Line height */
  --line-height-text-xs: 1.1em;
  --line-height-text-s: 1.2em;
  --line-height-text-m: 1.25em;
  --line-height-text-l: 1.33em;
  --line-height-text-xl: 1.5em;
  --line-height-text-2xl: 1.6em;

  /* Letter Spacing */
  --letter-spacing-xs: 1px;
  --letter-spacing-s: 2px;
  --letter-spacing-m: 3px;
  --letter-spacing-xm: 4px;
  --letter-spacing-l: 5px;
  --letter-spacing-xl: 6px;
  --letter-spacing-2xl: 7px;
  --letter-spacing-3xl: 8px;
  --letter-spacing-4xl: 9px;
  --letter-spacing-5xl: 10px;
}
