:root {
  /* Shadows */
  --shadow-border: 0 1px 0 #e1e1e1;
  --shadow-widget: 0 4px 10px rgb(0 0 0 / 5%);
  --shadow-post: 0 16px 16px rgb(0 0 0 / 10%);
  --shadow-container: 0 4px 4px rgb(0 0 0 / 4%);
}

.dark-theme {
  /* Shadows */
  --shadow-border: 0 1px 0 #e1e1e1;
  --shadow-widget: 0 4px 10px rgb(0 0 0 / 30%);
  --shadow-post: 0 16px 16px rgb(0 0 0 / 20%);
  --shadow-container: 0 4px 4px rgb(0 0 0 / 30%);
}
